{% load i18n %}
<div class="dialog-language">
    <div class="btns"><a href="#" onclick="return CloseDialogX('winLocation')"><i class="icon-remove"></i></a></div>
    <div class="box">
        <div class="fg-item">
            <div class="items">
                <a href="#" class="active" onclick="return ChangeLocation('zh-hans')"><i class="zh-hans"></i>中文简体</a>
                <a href="#" onclick="return ChangeLocation('zh-hant')"><i class="zh-hant"></i>中文繁體</a>
                <a href="#" onclick="return ChangeLocation('en')"><i class="en"></i>English</a>
            </div>
        </div>
    </div>
</div>
