<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Major,LGW">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>随求—专业的区块链资产交易平台，为您的财务增值保驾护航</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <style>
        p {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div style="width: 80%;margin: 0 auto">
    <p style="text-align: center">公告：随求交易所维护公告 2017-11-01</p>

    <p>亲爱的随求用户：</p>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随求交易所(chaobi.la)计划于北京时间2017年11月01日20:00-24:00进行架构升级，网站在升级过程中暂时无法登录，随求交易所会确保您的资金安全。
    </p>

    <p style="text-align: right;margin-right: 10px">
        随求交易所
    </p>
    <p style="text-align: right;margin-right: 10px">
        2017-11-01
    </p>
</div>

</body>
</html>
