<!doctype html>
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% trans '随求—专业的区块链资产交易平台，为您的财务增值保驾护航' %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/help.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/layer/theme/default/layer.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/layer/layer.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/js/swiper/css/swiper.min.css">
    <script src="/static/js/swiper/js/swiper.min.js"></script>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>

    <script type="text/javascript">
        function PageInit() {
            $(".mm-help a").addClass("active");
            $(".menu-help a").click(function () {
                var id = $(this).attr("href");
                if (id && $(id).length) {
                    $.scrollTo($(id).offset().top, 500);
                }
            });
        }
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="App"></div>
<script type="text/babel" src="/static/jsx/approot.jsx"></script>
<script type="text/babel" src="/static/jsx/header.jsx"></script>
<script type="text/babel" src="/static/jsx/footer.jsx"></script>
<script type="text/babel">


    var StaticContent = React.createClass({
        componentDidMount: function () {

        },
        render: function () {
            return (<div className="item-box">
                <h3 className="title txt-center">《随求用户协议》</h3>
                <div className="content txt-sm">
                    <p> 以下述条款和条件是用户与上海随求网络科技有限公司（以下简称随求）之间订立的合约（“协议”）。请仔细阅读协议。确认您已理解并接受本协议，点击“同意”。</p>
                    <p> 本协议适用于用户使用随求的各项服务，通过这些服务，用户可以在随求进行区块链资产交易等各项区块链专业服务。</p>
                    <p> 本协议内容包括协议正文及所有随求已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。</p>
                    <p>
                        用户应当在使用随求服务之前认真阅读全部协议内容，对于协议中以加粗字体显示的内容，用户应重点阅读。如用户对协议有任何疑问的，应向随求咨询。但无论事实上是否在使用随求服务之前认真阅读了本协议内容，只要用户使用随求服务，则本协议即对用户产生约束，届时用户不应以未阅读本协议的内容或者未获得随求对用户问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
                    <p>
                        我们会将修改后的条款发布到本网站，并将“最后更新”日期列在本条款顶部，或通过电子邮件发送给用户提供的注册邮箱，或以随求确定的任何其他方式自行决定。任何更改会在发布网站更新后或声明更改后立即生效。更改将持续生效。用户拥有放弃接收有关此类更改的特定通知的权利。继续使用本网站表示用户接受此类更改。</p>
                    <p> 用户承诺接受并遵守本协议的约定。如果用户不同意本条款，请立即停止使用本网站。我们希望用户经常回顾本条款，以确保用户了解适用于用户访问和使用本服务的条款和条件。</p>
                    <h4 id="s1">一、服务简介</h4>
                    <p><b>随求交易平台以区块链资产交易为核心，同时开展区块链资产托管等各项区块链专业服务，助推区块链技术的发展与普及。</b>交易者必须在开始交易之前开立账户并预存区块资产链资产。交易者可以要求提取其区块链资产，但须遵守本条款的限制。
                    </p>
                    <p>
                        用户必须自行准备如下设备和承担如下开支：（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他上网装置；（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>
                    <p>
                        用户在接受随求各项服务的同时，同意接受随求提供的各类信息服务。用户在此授权随求可以向其电子邮件、手机、通信地址等发送商业信息。用户有权选择不接受随求提供的各类信息服务，并进入随求相关页面或联系客服进行更改。</p>
                    <h4 id="s2">二、账户说明</h4>
                    <p>
                        用户在完成注册程序或以其他随求允许的方式实际使用随求服务时，用户应是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若不具备前述主体资格，则用户及用户的监护人应承担因此而导致的一切后果，且随求有权注销或永久冻结该用户的账户，并向该用户及该用户的监护人索偿。</p>
                    <p>
                        在完成注册或激活流程时，用户应当按照法律法规要求，按相应页面的提示准确提供并及时更新用户资料，以使之真实、及时、完整和准确，在必要的情况下，用户应配合随求进行视频认证等互动认证。如有合理理由怀疑用户提供的资料错误、不实、过时或不完整的，随求有权向用户发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对用户提供部分或全部随求服务。随求对此不承担任何责任，用户将承担因此产生的任何直接或间接损失及不利后果。</p>
                    <p> 用户同意，当监管要求发生变化时，在用户不能按照新的监管要求完善资料时，可能导致用户的交易、充值、提现受到影响，随求没有责任。</p>
                    <p> 用户须自行负责对随求用户密码保密，且须对用户在该登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。</p>
                    <p> 用户了解并同意：(a)
                        如发现任何人未经授权使用您的用户名和密码，或发生违反保密规定的任何其他情况，您会立即通知随求；(b)确保您严格遵守网站/服务的安全、认证、交易、充值、提现机制或者流程；(c)
                        确保您在每个上网时段结束时，以正确步骤离开网站/服务。随求不能也不会对因您未能遵守本款规定而发生的任何损失负责。您理解随求对您的请求采取行动需要合理时间，随求对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。</p>
                    <h4 id="s3">三、交易规则</h4>
                    <p> 用户了解并同意：用户承诺在其进入随求交易，通过随求与其他用户进行区块链资产交易的过程中良好遵守如下随求区块链资产交易规则。</p>
                    <p> (a) 用户在随求浏览区块链资产交易信息时，应当仔细阅读交易信息中包含的全部内容，包括但不限于区块链资产价格、委托量、手续费、买入或卖出方向，
                        用户完全接受交易信息中包含的全部内容后方可点击按钮进行交易。</p>
                    <p> (b) 用户了解并同意随求会时时更新可使用的充值的区块链资产。</p>
                    <p> (c) 用户了解并同意，用户有权随时提取在随求账户中的余额，但需向随求支付相应的提现手续费用。</p>
                    <p> (d)
                        用户在浏览完交易信息确认无误之后可以提交交易委托。用户提交交易委托后，即用户授权随求代理用户进行相应的交易撮合，随求在有满足用户委托价格的交易时将会自动完成撮合交易而无需提前通知用户。</p>
                    <p> (e) 用户可以通过管理中心的交易明细中查看相应的成交记录，确认自己的详情交易记录。</p>
                    <p> (f) 在委托未达成交易之前，用户有权随时撤销或修改委托。</p>
                    <h4 id="s4">四、交易所上线品种</h4>
                    <p> 随求上线新品种，会至少提前一周在随求官网公告，在开盘前24小时开放下单。
                        用户了解并同意，<b>对于命名有歧义的品种，随求有权利单方面决定该品种在交易中心的命名。</b></p>
                    <h4 id="s5">五、交易手续费</h4>
                    <p> 交易手续费是用户在随求达成区块链资产交易而向随求支付的交易服务费用。
                        标准网络撮合服务，<b>交易手续费不超过交易委托订单金额的千分之二（即买卖双方各千分之二），随求保留对单个用户下调交易手续费的权利。
                            提供额外服务的，单独设置手续费率。</b></p>
                    <h4 id="s6">六、充值提现说明</h4>
                    <p> 随求将为用户的每一种区块链资产提供一个到多个充值账户。</p>
                    <p> 随求会作废已经不安全的充值账户。用户了解并同意，充值到已经作废的充值账户，可能带来无法追回的损失，如果随求实在无法追回，用户不向随求索赔。</p>
                    <p> 用户了解，区块链转账存在网络拥堵、重放攻击、双花攻击、黑客攻击等风险，用户应承担充值过程中的各种风险。</p>
                    <p> 用户了解并同意，因为双花攻击、51%攻击等造成的充值失效，随求有权减记用户的账户余额。如果账户余额不够减记额，用户有义务向随求补充差额。在用户补足差额前，随求有权冻结用户的提现。
                        另外，随求有权决定充值的确认次数或确认时间。随求有权在不提前公示的情况下变更充值的确认次数或确认时间。</p>
                    <p> 用户了解并同意，用户有权随时提取在随求账户中的余额，但需向随求支付相应的提现手续费用。<b>单个币种的最低提现手续费为提现币种折合1.5美元，为保障用户的提现快速到账，随求有权根据当前最佳手续费（计费标准为最近一个区块的手续费率对应的最小交易手续费）进行收取。</b>
                    </p>
                    <p> 用户了解并同意，随求正常情况下会在24小时内处理用户的提现情况，但在突发异常状况下可能会有一定延迟，包括但不限于：提现需求量暴增、需要动用冷钱包、区块链分叉、重大技术故障等。</p>
                    <p> 随求当前提现最高限额为每日为10BTC。</p>
                    <p> 用户应当对提现目标账户的安全性负责，随求不对提现后的区块链资产承担任何责任。</p>
                    <h4 id="s7">七、下架品种</h4>
                    <p><b>随求交易所有权单方面决定对交易品种下架。</b></p>
                    <p>
                        <b>随求交易所决定对某一个品种进行下架时，随求交易所至少提前一个月在交易所网站发布公告，并在下架后无限期配合用户进行清算；但是，下架之后的品种，随求交易所对该品种的丢币风险不承担任何责任。</b>
                    </p>
                    <h4 id="s8">八、暂停交易</h4>
                    <p>
                        突发性暂停交易：当遇到可能会给用户带来巨大的不可预测损失的突发事件时（例如发现区块链资产程序BUG，或者监管部门发布重要决策），随求有权利在不预先告知的情况下临时性的暂停进行所有品种或单个品种的交易。 </p>
                    <p> 常规性暂停交易：随求提前24小时在网站发布停牌公告，明确停牌的起止时间。</p>
                    <h4 id="s9">九、代领资产</h4>
                    <p>
                        区块链资产存在分叉、快照继承、赠送等方式产生衍生资产的情况。用户理解，由于领取这些衍生资产时需要动用私钥，可能会大大提升丢币风险，所以随求有权不替用户代领这些资产。随求承诺绝不会偷领这类资产。</p>
                    <h4 id="s10">十、风险提示</h4>
                    <p> 用户了解并认可，区块链资产交易有极高的风险，用户愿意承担全部的交易风险。这些风险包括但不限于：</p>
                    <p> 1. 区块链资产的波动幅度远远大于股票、外汇成成熟市场。区块链资产市值小、没有涨跌停限制、7x24小时交易、有可能出现一天价格涨几倍的情况，同时也可能出现一天内价格跌去一半的情况。</p>
                    <p> 2. 因各国法律、法规和规范性文件的制定或者修改，区块链资产交易随时可能被暂停、或被禁止。</p>
                    <p> 3. 区块链资产是基于程序系统所发行的资产，如果程序出现BUG，可能导致资产巨幅贬值甚至彻底丧失价值。</p>
                    <p> 4. 如果区块链资产遭受到网络攻击，例如51%攻击、DDOS攻击、垃圾交易攻击，可能导致资产巨幅贬值甚至彻底丧失价值。</p>
                    <p> 5. 由于开发团队对区块链资产有巨大的影响力，开发团队的决策或者言论可能导致区块链资产短期内出现巨大的价格波动。</p>
                    <p> 6. 由于矿工、交易中心等应用方对区块链资产有巨大的影响力，他们中任何一方的决策或者言论都可能导致区块链资产短期内出现巨大的价格波动。</p>
                    <p> 7. 区块链的各种应用（例如交易中心、钱包）如果出现bug，也可能导致区块链资产巨幅贬值。</p>
                    <p> 8. 区块链资产的发行机制可能会造成在某些特殊时点上出现类似除权的效应，导致价格瞬间大幅波动。</p>
                    <p> 9. 在特定的情况下，由于分叉、快照继承、赠送等原因，可能造成在交易中心交易的区块链资产价值与存储在个人账户上的区块链资产产生差异，这种差异可能会瞬间体现在价格上。</p>
                    <p> 10. 用户托管在随求的区块链资产可能会发生意外损失。</p>
                    <h4 id="s11">十一、随求的免责条款</h4>
                    <p>
                        用户了解随求仅作为用户获取区块链资产信息、寻找交易方、就区块链资产的交易进行协商及开展交易的场所，随求不参与用户的任何交易，故用户应自行谨慎判断确定相关区块链资产及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。
                        随求的任何意见、消息、探讨、分析、价格、建议和其他资讯均是一般的市场评论，并不构成投资建议。随求不承担任何因依赖该资讯直接或间接而产生的损失，包括但不限于任何利润损失。
                        随求的内容会随时更改并不作另行通知，随求已采取合理措施确保网站资讯的准确性，但并不能保证其准确性程度，亦不会承担任何因随求的资讯或因未能链结互联网、传送或接收任何通知和信息时的延误或失败而直接或间接产生的损失。
                        使用互联网形式的交易系统亦存有风险，包括但不限于软件，硬件和互联网链结的失败等。由于随求不能控制互联网的可靠性和可用性，随求不会对失真，延误和链结失败而承担任何责任。</p>
                    <p>
                        随求新上币种都经过严格的币种论证，但不排除区块链资产因网络攻击而造成用户财产损失的可能，攻击方式包括但不限于51%攻击、刷链攻击、DDOS攻击、垃圾交易攻击等，对于此类网络攻击造成的用户财产损失随求不承担任何责任。
                    </p>
                    <p><b> 在法律允许的范围内，不论在何种情况下，随求对由于信息网络设备维护、信息网络连接故障、电脑、通讯
                        或其他系统的故障、电力故障、天气原因、意外事故、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、银行或其他合作方原因、区块链资产市场崩溃、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。 </b>
                    </p>
                    <h4 id="s12">十二、随求区块链资产意外损失的应对预案</h4>
                    <p> 用户了解并同意，由于区块链资产去中心化、匿名、不可追回、技术复杂的特点，虽然随求已经尽全力进行安全防范，但是随求在开展区块链资产交易过程中，依然存在区块链资产意外损失的可能。</p>
                    <p> 为了保证全局损失最小化，当随求发生区块链资产意外损失时，用户自愿放弃到法院的追索权，愿意配合如下针对区块链资产损失的预案：</p>
                    <p> 1. 当随求上的某一品种区块链资产损失比例少于10%时，随求不公示，使用手续费收入弥补亏空。</p>
                    <p> 2. 当随求上的某一品种区块链资产损失比例超过10%时，随求将第一时间公示。并对用户持有的该种资产进行减记。其它类型的资产不会被减记。</p>
                    <p> 3. 减记方式是，首先减记持有该区块链市值大于1万美元的用户。之后再减记其它用户。按照持有该区块链资产的数量均摊。</p>
                    <p> 4. 用户会得到与减记数量相对应的欠条；随求将用未来的收入来偿还欠条。欠条的单位是减记的区块链资产。即，随求会偿还损失同等数量的区块链资产。</p>
                    <p> 5. 欠条可以在随求交易。</p>
                    <p> 6. 随求承诺不会低价回购欠条，只会按照欠条原值赎回。</p>
                    <p> 7. 随求每个月赎回一次欠条，所有用户的欠条按照同等比例强制赎回。直到全部欠条都赎回为止。</p>
                    <h4 id="s13">十三、用户的权利和义务</h4>
                    <p> 用户有权按照本协议约定接受随求提供的区块链资产交易平台服务。用户有权随时终止使用随求服务。用户有权随时提取在随求的资产余额，但需向随求支付相应的提现手续费用。
                        用户对注册时提供的个人资料的真实性、有效性及安全性负责。用户在随求进行区块链资产交易时不得恶意干扰区块链资产交易的正常进行、破坏交易秩序。
                        用户不得以任何技术手段或其他方式干扰随求的正常运行或干扰其他用户对随求服务的使用。如用户因网上交易与其他用户产生诉讼的，不得通过司法或行政以外的途径要求随求提供相关资料。用户不得以虚构事实等方式恶意诋毁随求的商誉。</p>
                    <p><b>禁止使用随求从事洗钱、走私、商业贿赂、操纵市场价格等一切非法交易活动，若发现此类事件，随求有权采取各种可使用之手段，包括但不限于冻结账户，通知相关权力机关等，
                        随求不承担由此产生的所有责任并保留向相关人士追究责任的权利。</b></p>
                    <h4 id="s14">十四、随求的权利和义务</h4>
                    <p> 如用户不具备本协议约定的注册资格，则随求有权拒绝用户进行注册，对已注册的用户有权注销其随求会员账号，随求因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。
                        同时，随求保留其他任何情况下决定是否接受用户注册的权利。随求发现账户使用者并非账户初始注册人时，有权中止该账户的使用。
                        随求通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供随求服务。</p>
                    <p> 随求应当采取必要的技术手段和管理措施保障随求的正常运行，并提供必要、可靠的交易环境和交易服务，维护区块链资产交易秩序。
                        随求通过加强技术投入、提升安全防范等措施保障用户的区块链资产托管安全，有义务在用户资金出现可以预见的安全风险时提前通知用户。</p>
                    <p><b>随求有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用随求服务期间的全部信息，包括但不限于个人信息、交易信息等，但须按照本协议约定使用，不得非法使用该等信息。
                        随求有权随时删除随求网站内各类不符合国家法律法规、规范性文件或随求网站规定的用户评价等内容信息，随求行使该等权利不需提前通知用户。</b></p>
                    <p><b>随求有权单方面终止对用户的服务。随求应在终止交易服务前24小时通知客户，并在终止服务后配合用户进行清算。</b></p>
                    <h4 id="s15">十五、争议</h4>
                    <p> 用户与随求因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交上海仲裁委员会依据该会仲裁规则进行仲裁。 </p>
                </div>
            </div>);
        }
    });


    function PageView(props) {
        return (<section className="main-list">
            <div className="container">
                <div className="clearfix">
                    <div className="menu-box menu-help hidden-xs">
                        <div className="item-box">
                            <h4 className="tl"><i>协议列表</i></h4>
                            <ul>
                                <li><a href="#s1">服务简介</a></li>
                                <li><a href="#s2">账户说明</a></li>
                                <li><a href="#s3">交易规则</a></li>
                                <li><a href="#s4">交易所上线品种</a></li>
                                <li><a href="#s5">交易手续费</a></li>
                                <li><a href="#s6">充值提现说明</a></li>
                                <li><a href="#s7">下架品种</a></li>
                                <li><a href="#s8">暂停交易</a></li>
                                <li><a href="#s9">代领资产</a></li>
                                <li><a href="#s10">风险提示</a></li>
                                <li><a href="#s11">随求的免责条款</a></li>
                                <li><a href="#s12">用户的权利和义务</a></li>
                                <li><a href="#s13">随求的权利和义务</a></li>
                                <li><a href="#s14">随求区块链资产意外损失的应对预案</a></li>
                                <li><a href="#s15">争议</a></li>
                            </ul>
                        </div>
                    </div>
                    <div className="list-box help-view">
                        <StaticContent/>
                    </div>
                </div>
            </div>
        </section>);
    }

    var isLogin = IsLogin();

    ReactDOM.render(
        <App isLogin={isLogin} ContentBox={
            <PageView/>
        }/>
        , document.getElementById("App")
    );
</script>
</body>
</html>
