<!doctype html>
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% trans 'bitbiex—专业的区块链资产交易平台，为您的财务增值保驾护航' %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/usercenter.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/layer/theme/default/layer.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/layer/layer.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/js/swiper/css/swiper.min.css">
    <script src="/static/js/swiper/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/validator/css/bootstrapValidator.min.css">
    <script src="/static/bootstrap/validator/js/bootstrapValidator.js"></script>
    <script src="/static/js/user-idcard.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/accessLimit.js"></script>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="App"></div>

<script type="text/babel" src="/static/jsx/approot.jsx"></script>
<script type="text/babel" src="/static/jsx/header.jsx"></script>
<script type="text/babel" src="/static/jsx/footer.jsx"></script>
<script type="text/babel" src="/static/jsx/usernavbar.jsx"></script>
<script type="text/babel" src="/static/jsx/elements.jsx"></script>
<script type="text/babel">

    function PageView(props) {
        return (<section className="main-list">
            <div className="container">
                <div className="clearfix">
                    <div className="menu-box menu-user hidden-xs">
                        <CUserNavBar activeItem="sm-idcard"/>
                    </div>
                    <div className="list-box">
                        <FormBox/>
                    </div>
                </div>
            </div>
        </section>);
    }

    var FormBox = React.createClass({
        componentDidMount: function () {

        },
        submitHandler: function (e) {
            e.preventDefault();
        },
        render: function () {
            var items = [
                {id: '0', name: "{% trans '身份证' %}"},
                {id: '1', name: "{% trans '护照' %}"}
            ];
            return (<CFormBox title="{% trans '基本信息认证' %}" submitHandler={this.submitHandler}>
                <CFormGroup>
                    <CStaticInfo
                            colIn="col-sm-9 col-sm-offset-3">{% trans '为了您的资产安全，修改电子邮箱后24小时以内不允许提币' %}</CStaticInfo>
                </CFormGroup>
                <CFormGroup>
                    <CLabel>{% trans '真实姓名：' %}</CLabel>
                    <CTextInput name="realname" id="realname" colIn="1" title="{% trans '请输入真实姓名' %}"/>
                </CFormGroup>
                <CFormGroup>
                    <CLabel>{% trans '证件类型：' %}</CLabel>
                    <CSelect name="id_type" id="id_type" colIn="1" items={items}/>
                </CFormGroup>
                <CFormGroup>
                    <CLabel>{% trans '证件号码：' %}</CLabel>
                    <CTextInput name="id_card_no" id="id_card_no" colIn="1" title="{% trans '请输入证件号码' %}"/>
                </CFormGroup>
                <CFormGroup>
                    <CButton colIn="col-sm-offset-3 col-sm-9">{% trans '确定' %}</CButton>
                </CFormGroup>
            </CFormBox>);
        }
    });

    var isLogin = IsLogin();

    ReactDOM.render(
            <App isLogin={isLogin} ContentBox={
                <PageView/>
            }/>
        , document.getElementById("App")
    );
</script>
</body>
</html>
