<!doctype html>
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>隨求—專業的區塊鏈資產交易平臺，為您的財務增值保駕護航</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/help.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/layer/theme/default/layer.css">
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/layer/layer.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/js/swiper/css/swiper.min.css">
    <script src="/static/js/swiper/js/swiper.min.js"></script>

    <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>

    <script type="text/javascript">
        function PageInit() {
            $(".mm-help a").addClass("active");
            $(".menu-help a").click(function () {
                var id = $(this).attr("href");
                if (id && $(id).length) {
                    $.scrollTo($(id).offset().top, 500);
                }
            });
        }
    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div id="App"></div>
<script type="text/babel" src="/static/jsx/approot.jsx"></script>
<script type="text/babel" src="/static/jsx/header.jsx"></script>
<script type="text/babel" src="/static/jsx/footer.jsx"></script>
<script type="text/babel">


    var StaticContent = React.createClass({
        componentDidMount: function () {

        },
        render: function () {
            return (<div className="item-box">
                <h3 className="title txt-center">《隨求用戶協議》</h3>
                <div className="content txt-sm">
                    <p> 以下述條款和條件是用戶與上海隨求網絡科技有限公司（以下簡稱隨求）之間訂立的合約（“協議”）。請仔細閱讀協議。確認您已理解並接受本協議，點擊“同意”。</p>
                    <p> 本協議適用於用戶使用隨求的各項服務，通過這些服務，用戶可以在隨求進行區塊鏈資產交易等各項區塊鏈專業服務。</p>
                    <p> 本協議內容包括協議正文及所有隨求已經發布的或將來可能發布的各類規則。所有規則為本協議不可分割的組成部分，與協議正文具有同等法律效力。</p>
                    <p>
                        用戶應當在使用隨求服務之前認真閱讀全部協議內容，對於協議中以加粗字體顯示的內容，用戶應重點閱讀。如用戶對協議有任何疑問的，應向隨求咨詢。但無論事實上是否在使用隨求服務之前認真閱讀了本協議內容，只要用戶使用隨求服務，則本協議即對用戶產生約束，屆時用戶不應以未閱讀本協議的內容或者未獲得隨求對用戶問詢的解答等理由，主張本協議無效，或要求撤銷本協議。</p>
                    <p>
                        我們會將修改後的條款發布到本網站，並將“最後更新”日期列在本條款頂部，或通過電子郵件發送給用戶提供的註冊郵箱，或以隨求確定的任何其他方式自行決定。任何更改會在發布網站更新後或聲明更改後立即生效。更改將持續生效。用戶擁有放棄接收有關此類更改的特定通知的權利。繼續使用本網站表示用戶接受此類更改。</p>
                    <p> 用戶承諾接受並遵守本協議的約定。如果用戶不同意本條款，請立即停止使用本網站。我們希望用戶經常回顧本條款，以確保用戶了解適用於用戶訪問和使用本服務的條款和條件。</p>
                    <h4 id="s1">壹、服務簡介</h4>
                    <p><b>隨求交易平臺以區塊鏈資產交易為核心，同時開展區塊鏈資產托管等各項區塊鏈專業服務，助推區塊鏈技術的發展與普及。</b>交易者必須在開始交易之前開立賬戶並預存區塊資產鏈資產。交易者可以要求提取其區塊鏈資產，但須遵守本條款的限制。
                    </p>
                    <p>
                        用戶必須自行準備如下設備和承擔如下開支：（1）上網設備，包括並不限於電腦或者其他上網終端、調制解調器及其他上網裝置；（2）上網開支，包括並不限於網絡接入費、上網設備租用費、手機流量費等。</p>
                    <p>
                        用戶在接受隨求各項服務的同時，同意接受隨求提供的各類信息服務。用戶在此授權隨求可以向其電子郵件、手機、通信地址等發送商業信息。用戶有權選擇不接受隨求提供的各類信息服務，並進入隨求相關頁面或聯系客服進行更改。</p>
                    <h4 id="s2">二、賬戶說明</h4>
                    <p>
                        用戶在完成註冊程序或以其他隨求允許的方式實際使用隨求服務時，用戶應是具備完全民事權利能力和完全民事行為能力的自然人、法人或其他組織。若不具備前述主體資格，則用戶及用戶的監護人應承擔因此而導致的壹切後果，且隨求有權註銷或永久凍結該用戶的賬戶，並向該用戶及該用戶的監護人索償。</p>
                    <p>
                        在完成註冊或激活流程時，用戶應當按照法律法規要求，按相應頁面的提示準確提供並及時更新用戶資料，以使之真實、及時、完整和準確，在必要的情況下，用戶應配合隨求進行視頻認證等互動認證。如有合理理由懷疑用戶提供的資料錯誤、不實、過時或不完整的，隨求有權向用戶發出詢問及/或要求改正的通知，並有權直接做出刪除相應資料的處理，直至中止、終止對用戶提供部分或全部隨求服務。隨求對此不承擔任何責任，用戶將承擔因此產生的任何直接或間接損失及不利後果。</p>
                    <p> 用戶同意，當監管要求發生變化時，在用戶不能按照新的監管要求完善資料時，可能導致用戶的交易、充值、提現受到影響，隨求沒有責任。</p>
                    <p> 用戶須自行負責對隨求用戶密碼保密，且須對用戶在該登錄名和密碼下發生的所有活動（包括但不限於信息披露、發布信息、網上點擊同意或提交各類規則協議、網上續簽協議或購買服務等）承擔責任。</p>
                    <p> 用戶了解並同意：(a)
                        如發現任何人未經授權使用您的用戶名和密碼，或發生違反保密規定的任何其他情況，您會立即通知隨求；(b)確保您嚴格遵守網站/服務的安全、認證、交易、充值、提現機制或者流程；(c)
                        確保您在每個上網時段結束時，以正確步驟離開網站/服務。隨求不能也不會對因您未能遵守本款規定而發生的任何損失負責。您理解隨求對您的請求采取行動需要合理時間，隨求對在采取行動前已經產生的後果（包括但不限於您的任何損失）不承擔任何責任。</p>
                    <h4 id="s3">三、交易規則</h4>
                    <p> 用戶了解並同意：用戶承諾在其進入隨求交易，通過隨求與其他用戶進行區塊鏈資產交易的過程中良好遵守如下隨求區塊鏈資產交易規則。</p>
                    <p> (a) 用戶在隨求瀏覽區塊鏈資產交易信息時，應當仔細閱讀交易信息中包含的全部內容，包括但不限於區塊鏈資產價格、委托量、手續費、買入或賣出方向，
                        用戶完全接受交易信息中包含的全部內容後方可點擊按鈕進行交易。</p>
                    <p> (b) 用戶了解並同意隨求會時時更新可使用的充值的區塊鏈資產。</p>
                    <p> (c) 用戶了解並同意，用戶有權隨時提取在隨求賬戶中的余額，但需向隨求支付相應的提現手續費用。</p>
                    <p> (d)
                        用戶在瀏覽完交易信息確認無誤之後可以提交交易委托。用戶提交交易委托後，即用戶授權隨求代理用戶進行相應的交易撮合，隨求在有滿足用戶委托價格的交易時將會自動完成撮合交易而無需提前通知用戶。</p>
                    <p> (e) 用戶可以通過管理中心的交易明細中查看相應的成交記錄，確認自己的詳情交易記錄。</p>
                    <p> (f) 在委托未達成交易之前，用戶有權隨時撤銷或修改委托。</p>
                    <h4 id="s4">四、交易所上線品種</h4>
                    <p> 隨求上線新品種，會至少提前壹周在隨求官網公告，在開盤前24小時開放下單。
                        用戶了解並同意，<b>對於命名有歧義的品種，隨求有權利單方面決定該品種在交易中心的命名。</b></p>
                    <h4 id="s5">五、交易手續費</h4>
                    <p> 交易手續費是用戶在隨求達成區塊鏈資產交易而向隨求支付的交易服務費用。
                        標準網絡撮合服務，<b>交易手續費不超過交易委托訂單金額的千分之二（即買賣雙方各千分之二），隨求保留對單個用戶下調交易手續費的權利。
                            提供額外服務的，單獨設置手續費率。</b></p>
                    <h4 id="s6">六、充值提現說明</h4>
                    <p> 隨求將為用戶的每壹種區塊鏈資產提供壹個到多個充值賬戶。</p>
                    <p> 隨求會作廢已經不安全的充值賬戶。用戶了解並同意，充值到已經作廢的充值賬戶，可能帶來無法追回的損失，如果隨求實在無法追回，用戶不向隨求索賠。</p>
                    <p> 用戶了解，區塊鏈轉賬存在網絡擁堵、重放攻擊、雙花攻擊、黑客攻擊等風險，用戶應承擔充值過程中的各種風險。</p>
                    <p> 用戶了解並同意，因為雙花攻擊、51%攻擊等造成的充值失效，隨求有權減記用戶的賬戶余額。如果賬戶余額不夠減記額，用戶有義務向隨求補充差額。在用戶補足差額前，隨求有權凍結用戶的提現。
                        另外，隨求有權決定充值的確認次數或確認時間。隨求有權在不提前公示的情況下變更充值的確認次數或確認時間。</p>
                    <p> 用戶了解並同意，用戶有權隨時提取在隨求賬戶中的余額，但需向隨求支付相應的提現手續費用。<b>單個幣種的最低提現手續費為提現幣種折合1.5美元，為保障用戶的提現快速到賬，隨求有權根據當前最佳手續費（計費標準為最近壹個區塊的手續費率對應的最小交易手續費）進行收取。</b>
                    </p>
                    <p> 用戶了解並同意，隨求正常情況下會在24小時內處理用戶的提現情況，但在突發異常狀況下可能會有壹定延遲，包括但不限於：提現需求量暴增、需要動用冷錢包、區塊鏈分叉、重大技術故障等。</p>
                    <p> 隨求當前提現最高限額為每日為10BTC。</p>
                    <p> 用戶應當對提現目標賬戶的安全性負責，隨求不對提現後的區塊鏈資產承擔任何責任。</p>
                    <h4 id="s7">七、下架品種</h4>
                    <p><b>隨求交易所有權單方面決定對交易品種下架。</b></p>
                    <p>
                        <b>隨求交易所決定對某壹個品種進行下架時，隨求交易所至少提前壹個月在交易所網站發布公告，並在下架後無限期配合用戶進行清算；但是，下架之後的品種，隨求交易所對該品種的丟幣風險不承擔任何責任。</b>
                    </p>
                    <h4 id="s8">八、暫停交易</h4>
                    <p>
                        突發性暫停交易：當遇到可能會給用戶帶來巨大的不可預測損失的突發事件時（例如發現區塊鏈資產程序BUG，或者監管部門發布重要決策），隨求有權利在不預先告知的情況下臨時性的暫停進行所有品種或單個品種的交易。 </p>
                    <p> 常規性暫停交易：隨求提前24小時在網站發布停牌公告，明確停牌的起止時間。</p>
                    <h4 id="s9">九、代領資產</h4>
                    <p>
                        區塊鏈資產存在分叉、快照繼承、贈送等方式產生衍生資產的情況。用戶理解，由於領取這些衍生資產時需要動用私鑰，可能會大大提升丟幣風險，所以隨求有權不替用戶代領這些資產。隨求承諾絕不會偷領這類資產。</p>
                    <h4 id="s10">十、風險提示</h4>
                    <p> 用戶了解並認可，區塊鏈資產交易有極高的風險，用戶願意承擔全部的交易風險。這些風險包括但不限於：</p>
                    <p> 1. 區塊鏈資產的波動幅度遠遠大於股票、外匯成成熟市場。區塊鏈資產市值小、沒有漲跌停限制、7x24小時交易、有可能出現壹天價格漲幾倍的情況，同時也可能出現壹天內價格跌去壹半的情況。</p>
                    <p> 2. 因各國法律、法規和規範性文件的制定或者修改，區塊鏈資產交易隨時可能被暫停、或被禁止。</p>
                    <p> 3. 區塊鏈資產是基於程序系統所發行的資產，如果程序出現BUG，可能導致資產巨幅貶值甚至徹底喪失價值。</p>
                    <p> 4. 如果區塊鏈資產遭受到網絡攻擊，例如51%攻擊、DDOS攻擊、垃圾交易攻擊，可能導致資產巨幅貶值甚至徹底喪失價值。</p>
                    <p> 5. 由於開發團隊對區塊鏈資產有巨大的影響力，開發團隊的決策或者言論可能導致區塊鏈資產短期內出現巨大的價格波動。</p>
                    <p> 6. 由於礦工、交易中心等應用方對區塊鏈資產有巨大的影響力，他們中任何壹方的決策或者言論都可能導致區塊鏈資產短期內出現巨大的價格波動。</p>
                    <p> 7. 區塊鏈的各種應用（例如交易中心、錢包）如果出現bug，也可能導致區塊鏈資產巨幅貶值。</p>
                    <p> 8. 區塊鏈資產的發行機制可能會造成在某些特殊時點上出現類似除權的效應，導致價格瞬間大幅波動。</p>
                    <p> 9. 在特定的情況下，由於分叉、快照繼承、贈送等原因，可能造成在交易中心交易的區塊鏈資產價值與存儲在個人賬戶上的區塊鏈資產產生差異，這種差異可能會瞬間體現在價格上。</p>
                    <p> 10. 用戶托管在隨求的區塊鏈資產可能會發生意外損失。</p>
                    <h4 id="s11">十壹、隨求的免責條款</h4>
                    <p>
                        用戶了解隨求僅作為用戶獲取區塊鏈資產信息、尋找交易方、就區塊鏈資產的交易進行協商及開展交易的場所，隨求不參與用戶的任何交易，故用戶應自行謹慎判斷確定相關區塊鏈資產及/或信息的真實性、合法性和有效性，並自行承擔因此產生的責任與損失。
                        隨求的任何意見、消息、探討、分析、價格、建議和其他資訊均是壹般的市場評論，並不構成投資建議。隨求不承擔任何因依賴該資訊直接或間接而產生的損失，包括但不限於任何利潤損失。
                        隨求的內容會隨時更改並不作另行通知，隨求已采取合理措施確保網站資訊的準確性，但並不能保證其準確性程度，亦不會承擔任何因隨求的資訊或因未能鏈結互聯網、傳送或接收任何通知和信息時的延誤或失敗而直接或間接產生的損失。
                        使用互聯網形式的交易系統亦存有風險，包括但不限於軟件，硬件和互聯網鏈結的失敗等。由於隨求不能控制互聯網的可靠性和可用性，隨求不會對失真，延誤和鏈結失敗而承擔任何責任。</p>
                    <p><b> 在法律允許的範圍內，不論在何種情況下，隨求對由於信息網絡設備維護、信息網絡連接故障、電腦、通訊
                        或其他系統的故障、電力故障、天氣原因、意外事故、罷工、勞動爭議、暴亂、起義、騷亂、生產力或生產資料不足、火災、洪水、風暴、爆炸、戰爭、銀行或其他合作方原因、區塊鏈資產市場崩潰、政府行為、司法行政機關的命令、其他不可抗力或第三方的不作為而造成的不能服務或延遲服務，以及用戶因此而遭受的損失不承擔責任。 </b>
                    </p>
                    <h4 id="s12">十二、隨求區塊鏈資產意外損失的應對預案</h4>
                    <p> 用戶了解並同意，由於區塊鏈資產去中心化、匿名、不可追回、技術復雜的特點，雖然隨求已經盡全力進行安全防範，但是隨求在開展區塊鏈資產交易過程中，依然存在區塊鏈資產意外損失的可能。</p>
                    <p> 為了保證全局損失最小化，當隨求發生區塊鏈資產意外損失時，用戶自願放棄到法院的追索權，願意配合如下針對區塊鏈資產損失的預案：</p>
                    <p> 1. 當隨求上的某壹品種區塊鏈資產損失比例少於10%時，隨求不公示，使用手續費收入彌補虧空。</p>
                    <p> 2. 當隨求上的某壹品種區塊鏈資產損失比例超過10%時，隨求將第壹時間公示。並對用戶持有的該種資產進行減記。其它類型的資產不會被減記。</p>
                    <p> 3. 減記方式是，首先減記持有該區塊鏈市值大於1萬美元的用戶。之後再減記其它用戶。按照持有該區塊鏈資產的數量均攤。</p>
                    <p> 4. 用戶會得到與減記數量相對應的欠條；隨求將用未來的收入來償還欠條。欠條的單位是減記的區塊鏈資產。即，隨求會償還損失同等數量的區塊鏈資產。</p>
                    <p> 5. 欠條可以在隨求交易。</p>
                    <p> 6. 隨求承諾不會低價回購欠條，只會按照欠條原值贖回。</p>
                    <p> 7. 隨求每個月贖回壹次欠條，所有用戶的欠條按照同等比例強制贖回。直到全部欠條都贖回為止。</p>
                    <h4 id="s13">十三、用戶的權利和義務</h4>
                    <p> 用戶有權按照本協議約定接受隨求提供的區塊鏈資產交易平臺服務。用戶有權隨時終止使用隨求服務。用戶有權隨時提取在隨求的資產余額，但需向隨求支付相應的提現手續費用。
                        用戶對註冊時提供的個人資料的真實性、有效性及安全性負責。用戶在隨求進行區塊鏈資產交易時不得惡意幹擾區塊鏈資產交易的正常進行、破壞交易秩序。
                        用戶不得以任何技術手段或其他方式幹擾隨求的正常運行或幹擾其他用戶對隨求服務的使用。如用戶因網上交易與其他用戶產生訴訟的，不得通過司法或行政以外的途徑要求隨求提供相關資料。用戶不得以虛構事實等方式惡意詆毀隨求的商譽。</p>
                    <p><b>禁止使用隨求從事洗錢、走私、商業賄賂、操縱市場價格等壹切非法交易活動，若發現此類事件，隨求有權采取各種可使用之手段，包括但不限於凍結賬戶，通知相關權力機關等，
                        隨求不承擔由此產生的所有責任並保留向相關人士追究責任的權利。</b></p>
                    <h4 id="s14">十四、隨求的權利和義務</h4>
                    <p> 如用戶不具備本協議約定的註冊資格，則隨求有權拒絕用戶進行註冊，對已註冊的用戶有權註銷其隨求會員賬號，隨求因此而遭受損失的有權向前述用戶或其法定代理人主張賠償。
                        同時，隨求保留其他任何情況下決定是否接受用戶註冊的權利。隨求發現賬戶使用者並非賬戶初始註冊人時，有權中止該賬戶的使用。
                        隨求通過技術檢測、人工抽檢等檢測方式合理懷疑用戶提供的信息錯誤、不實、失效或不完整時，有權通知用戶更正、更新信息或中止、終止為其提供隨求服務。</p>
                    <p> 隨求應當采取必要的技術手段和管理措施保障隨求的正常運行，並提供必要、可靠的交易環境和交易服務，維護區塊鏈資產交易秩序。
                        隨求通過加強技術投入、提升安全防範等措施保障用戶的區塊鏈資產托管安全，有義務在用戶資金出現可以預見的安全風險時提前通知用戶。</p>
                    <p><b>隨求有權在本協議履行期間及本協議終止後保留用戶的註冊信息及用戶應用隨求服務期間的全部信息，包括但不限於個人信息、交易信息等，但須按照本協議約定使用，不得非法使用該等信息。
                        隨求有權隨時刪除隨求網站內各類不符合國家法律法規、規範性文件或隨求網站規定的用戶評價等內容信息，隨求行使該等權利不需提前通知用戶。</b></p>
                    <p><b>隨求有權單方面終止對用戶的服務。隨求應在終止交易服務前24小時通知客戶，並在終止服務後配合用戶進行清算。</b></p>
                    <h4 id="s15">十五、爭議</h4>
                    <p> 用戶與隨求因本協議的履行發生爭議的應通過友好協商解決，協商解決不成的，任壹方有權將爭議提交上海仲裁委員會依據該會仲裁規則進行仲裁。 </p>
                </div>
            </div>);
        }
    });


    function PageView(props) {
        return (<section className="main-list">
            <div className="container">
                <div className="clearfix">
                    <div className="menu-box menu-help hidden-xs">
                        <div className="item-box">
                            <h4 className="tl"><i>協議列表</i></h4>
                            <ul>
                                <li><a href="#s1">服務簡介</a></li>
                                <li><a href="#s2">賬戶說明</a></li>
                                <li><a href="#s3">交易規則</a></li>
                                <li><a href="#s4">交易所上線品種</a></li>
                                <li><a href="#s5">交易手續費</a></li>
                                <li><a href="#s6">充值提現說明</a></li>
                                <li><a href="#s7">下架品種</a></li>
                                <li><a href="#s8">暫停交易</a></li>
                                <li><a href="#s9">代領資產</a></li>
                                <li><a href="#s10">風險提示</a></li>
                                <li><a href="#s11">隨求的免責條款</a></li>
                                <li><a href="#s12">用戶的權利和義務</a></li>
                                <li><a href="#s13">隨求的權利和義務</a></li>
                                <li><a href="#s14">隨求區塊鏈資產意外損失的應對預案</a></li>
                                <li><a href="#s15">爭議</a></li>
                            </ul>
                        </div>
                    </div>
                    <div className="list-box help-view">
                        <StaticContent/>
                    </div>
                </div>
            </div>
        </section>);
    }

    var isLogin = IsLogin();

    ReactDOM.render(
        <App isLogin={isLogin} ContentBox={
            <PageView/>
        }/>
        , document.getElementById("App")
    );
</script>
</body>
</html>
